<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>fgVM2FppSwFdCNRBDCiJTtcig7jX8kYR</string>
	<key>Domain</key>
	<string>still-credit-3908.auth0.com</string>
</dict>
</plist>
